*
!accounting.jpg
!cashier.jpg
!cleaning.jpg
!cleaning2.jpg
!forklift.jpg
!grass-cutting.jpg
!inventory-management.jpg
!leaf-blower.jpg
!work-in-the-garden-2432111_1920.jpg
!Onkruid wieden
!Huishoudelijk5.jpg
!Ramen wassen
!3027724237_737bba0687_o.jpg
!Vragen beantwoorden
!Land- en tuinbouw5.jpg
!Gras maaien
!shipping (1).jpg
!Goederen verplaatsen
!afval.jpg
!Recycleren
!Schilderwerk-Multi-Concurrent.jpg
!Schilderwerken
!bakers-858394_1920.jpg
!Brood bakken
!kindergarten-90505_1280.jpg
!Staartjes maken
!Producten verpakken.jpg
!In zakjes steken
!paper-3249922_1920.jpg
!Formulieren invullen
!WhatsApp Image 2019-09-13 at 13.30.43.jpeg
!Eieren rapen
!Huishoudelijk4.jpg
!Was plooien
!Klantgericht4.jpeg
!Kassa
!P1040085.JPG
!Materiaal wegbrengen
!zwerfvuil-01-large-.jpg
!Afval rapen
!solder-1038522_1280.jpg
!Solderen
!De-8-meest-gemaakte-fouten-bij-het-afwassen-2.jpg
!Afwassen
!Zorg en Welzijn4'.jpg
!Luiers verversen
!WhatsApp Image 2019-09-13 at 09.40.23.jpeg
!In elkaar steken
!Administratief4'.jpg
!Lamineren
!Dierenverzorging4.jpg
!Dieren uitlaten
!Huishoudelijk3.jpg
!Wassen
!4379374300_bbfeeffda5_z.jpg
!Gidsen
!postbode-brievenbus-postnl.jpg
!Post rondbrengen
!Picking Apples.jpg
!Fruit plukken
!6215697457_faa8a03f41_b.jpg
!Auto's wassen
!Technisch werk3.jpeg
!Meubels schuren
!tafel-dekken-kerst-diner-foto-pexels-e1541595952613.jpg
!Tafels dekken
!Zorg en welzijn3.jpeg
!Wandelen met de rolwagen
!Dozen-sluiten-met-tape3.jpg
!Dozen sluiten
!5571065792_9d253785e8_o.jpg
!Kopiëren
!Dierenverzorging3.jpg
!Dieren verzorgen
!Huishoudelijk2.jpg
!Poetsen
!Klantgericht2.jpg
!Telefoons beantwoorden
!Land- en tuinbouw2.JPG
!Water geven
!Logistiek en transport2.jpg
!Producten afleveren
!Onderhoud2.jpg
!Keren
!Technisch werk2.jpeg
!Fietsen herstellen
!tomatoes-841547_1920.jpg
!Groenten snijden
!Zorg en welzijn2.jpg
!Eten geven
!WG1e.jpg
!Stickers kleven
!Administratief2.jpg
!Documenten inscannen
!Dierenverzorging2.jpg
!Stallen uitmesten
!Huishoudelijk1.jpeg
!Stofzuigen
!Klantgericht1.jpeg
!Klanten verder helpen
!Land- en tuinbouw1.jpg
!Bladeren harken
!Logistiek en transport1.jpg
!In- en uitladen
!Onderhoud1.jpg
!Flesjes sorteren
!8044050756_0ca134f72e_o.jpg
!Schroeven en boren
!Voedeselbereiden1.jpg
!Aardappelen schillen
!Veters binden.jpg
!Veters knopen
!WG1d.jpg
!Doosjes plooien
!FOTO 56 2.0.jpeg
!Berekeningen maken
!FOTO 70 Dieren verzorgen.jpeg
!Dieren voederen
!ironing-164672_1280.jpg
!Strijken
!business-3275307_1920.jpg
!Presenteren
!garden-1240604_1280.jpg
!Groenten oogsten
!Drank aanvullen.jpg
!Drank aanvullen
!Dakgoot-legen-Zwolle-RIO.jpg
!Dakgoten leegmaken
!FOTO 69 Houtbwerking.jpeg
!Houtbewerking
!_8559_1466700017.jpg
!Afwegen
!Jas sluiten.jpg
!Jas sluiten
!WG1a.jpg
!Tellen
!Perforeren.jpg
!Perforeren
!39738186350_d592548c67_o.jpg
!Stal keren
!mop-2736400_1280.jpg
!Dweilen
!algemeen-routewijze- infobalie-boulevard.jpg
!De weg wijzen
!summer-3623282_1920.jpg
!Snoeien
!1502444315.61284566776caf7e124379006485302e.jpg
!Goederen verpakken
!P1040915.JPG
!Karton en papier verzamelen
!Technisch werk1.jpeg
!Loodgieterij
!restaurant-1284351_1920.jpg
!Borden vullen
!Nagels lakken.jpg
!Nakels lakken
!WG1c.jpg
!Verpakken
!Papier snipperen.jpg
!Versnipperen
!P1040103.JPG
!Dieren op stal zetten
